@{
    ViewBag.Title = "Will Flow";
}

<div class="jumbotron">
    <h1>Will Flow</h1>
    <p class="lead">Something amazing about Will Flow</p>
    <a herf="@Url.Action("DownloadViewPDF", "Document")"> Export Will</a>
</div>

<div class="row">
</div>