
@{
    Layout = "~/Views/Shared/_LayoutPDF.cshtml";
}
<center>
    <div class="row">
        <div class="col-md-12">
            <h1>ENKEL TESTAMENT</h1><br />
            <p>Ek, die ondergetekende,</p>
            @*Model.Lablefor(IDNumber or DOB)*@<br />
            <p>
                herroep hiermee alle testamente wat voorheen deur my opgestel is en verklaar hierdie my testament te wees.
            </p>
        </div>
    </div>
    </center>
    <div class="row">
        <div class="col-md-12">
            <center>  <h2>A.AANWYSING VAN ERFGENAME</h2></center>
            <p>
                <ol>
                    <li>
                        Ek bemaak my boedel aan my hierna benoemde TRUSTEE in trust om
                        ooreenkomstig AFDELING C van hierdie testament, geadministreer te word.
                    </li>
                </ol>
            </p>
        </div>
        </div>
    <div class="row">
    <div class="col-md-12">
        <center>
            <h2>B.BEPERKINGS EN VOORWAARDES VAN TOEPASSING OP ERFGENAME EN TRUSTBEGUNSTIGDES</h2>
            </center>
                <p>
                    <ol>
                        <li>
                            Ek bepaal dat geeneen van my erfgename onder die verpligting sal staan om enige skenkings gemaak
                            gedurende my lewe, in te bring in my boedel nie.
                        </li>
                        <li>
                            Ek bepaal dat enige roerende bate(s) wat 'n minderjarige erfgenaam kragtens hierdie testament of
                            'n trust in hierdie testament geskep ontvang, aan die
                            erfgenaam se voog, in die diskresie van die Trustee, oorhandig mag word vir veilige bewaring totdat
                            meerderjarigheid bereik word.
                            Ek stel sodanige voog vry van die verpligting om sekuriteit te verskaf vir bate(s) aan hom/haar
                            oorhandig en sal 'n kwitansie deur
                            die voog as voldoende ontheffing aan my eksekuteur(s) en/of trustee(s) dien.
                        </li>
                        <li>
                                    Dit is 'n uitdruklike voorwaarde van hierdie testament dat enige erfenis wat aan enige erfgenaam
                                    hierkragtens mag toeval,
                                    sowel as enige inkomste wat daaruit verdien mag word asook enige inkomste wat uit 'n trust verdien mag word,
                                    uitgesluit sal wees van die regsgevolge van
                                    'n bestaande of toekomstige huwelik binne gemeenskap van goedere of buite gemeenskap van goedere of wat
                                    onderhewig is aan die aanwasbedeling.
                                    Ingeval van 'n vroulike erfgenaam sal so 'n erfenis nie onderhewig wees
                                    aan die kontrole, beskikkingsreg en maritale mag van haar eggenoot nie.
                                    Verder sal 'n ontvangserkenning van enige vroulike erfgenaam, sonder die bystand van haar eggenoot,
                                    voldoende ontheffing aan ons eksekuteur wees.
                        
                        </li>
                    </ol>
                </p>

</div>
    </div>
<div class="row">
    <div class="col-md-12">
        <center>
            <h2>C.MAGTE, PLIGTE EN BEVOEGDHEDE VAN DIE TRUSTEE(S)</h2>
            </center>
                <p>
                    <ol>
                        <li>
                            Die trustee(s) sal op ontvangs van die trustbates en laste, geregtig wees om volgens diskresie,
                            in belang van die trustbegunstigde(s) as volg daarmee te handel:
                           <ol>
                                <li>
                                    Om die erflating te aanvaar, te beheer en te administreer en enige handeling te verrig wat nodig
                                    geag mag word om 'n inkomste uit die trustbates te genereer of om
                                    die trustbates op 'n ander wyse in die belang van die trustbegunstigde(s) aan te wend of te beskerm.
                                </li>
                                <li>
                                    Om die kapitaal en/of inkomste voortspruitend uit hierdie trust te belê of te herbelê in vaste rentedraende beleggings, effekte, genoteerde en ongenoteerde aandele,
                                    groeifondse, sekuriteite, onroerende eiendom, deelnemingsverbande, beleggings  en spaarplanne by versekeraars of ander beleggings, van watter aard ook al,
                                    by erkende finansiële instellings. Enige belegging kan gerealiseer, gewysig of verander word en die opbrengs daarvan kan herbelê word in enige belegging hierin gemagtig.
                                </li>
                                <li>
                                    Om, indien nodig, die trustbates te verhuur of te verkoop en/of enige bates te huur of aan te koop.
                                </li>
                                <li>
                                    Om lenings met of sonder rente en/of sekuriteit aan trustbelanghebbendes toe te staan.
                                </li>
                                    </ol>                  
      </li><br />
                        <li>
                            Ten einde uitvoering te gee aan die terme en voorwaardes van hierdie trust sal die trustee(s) of
                            'n genomineerde van die trustee(s) geregtig wees om 'n bankrekening in naam van die trust te open
                            en daarop te opereer en om administratiewe prosedure te neem wat in belang van die trust geag mag word.
                        </li>
                        <li>
                            Die trustee(s) is geregtig om enige voordele wat by die afsterwe van die erflater verskuldig en
                            betaalbaar mag wees vanweë lidmaatskap van enige uittredingsannuïteit, voorsorg ,
                            groeplewensversekeringsfonds, of enige ander fonds in trust te ontvang, asook om enige skenking,
                            erflating of toevallige inkomste te aanvaar, ongeag die oorsprong daarvan, en om sodanige fondse tot
                            die trustkapitaal te voeg en ooreenkomstig die bepalings van hierdie trust te administreer.
                        </li>
                        <li>
                            Die trustee(s) sal geregtig wees om alle kostes en uitgawes wettiglik in die administrasie
                            van die trust aangegaan, uit die inkomste en/of kapitaal te betaal.
                            Die trustee(s) is ook geregtig op hul gebruiklike vergoeding en in die geval van 'n
                            dispuut sal dit in oorleg met die Meester van die Hooggeregshof bepaal word.
                        </li>
                        <li>
                            Die trustee(s) moet soveel van die inkomste en, indien nodig, van die kapitaal as wat na
                            goeddunke nodig geag mag word, aanwend vir die behoorlike onderhoud, opvoeding en geleerdheid
                            van my kinders of hulle wettige afstammelinge staaksgewys of vir enige ander doel in hulle,
                            sy of haar belang.  Enige inkomste wat nie vir die doel benodig word nie, mag gekapitaliseer word.
                        </li>
                        <li>
                            Die trustbates is nie vatbaar vir beslaglegging deur 'n skuldeiser vir die skulde of verpligtinge
                            van 'n begunstigde nie.  Indien 'n begunstigde aan 'n skuldeiser voorgee dat hy of sy 'n vorderingsreg
                            op die trustbates het, of indien sy of haar boedel gesekwestreer word, of indien hy of sy 'n kompromis
                            met 'n skuldeiser sou aangaan, is die trustee(s), in sy diskresie, geregtig om die trust ten behoewe
                            van sodanige begunstigde te laat voortduur en die ontbindingsdatum met betrekking tot so 'n begunstigde
                            se deel uit te stel tot 'n tydstip wat die trustee(s) dienstig en in belang van die begunstigde ag.
                        </li>
                        <li>
                            Die trust moet beëindig wanneer die jongste van my kinders in lewe die ouderdom van $ jaar bereik en
                            die kapitaal soos dit dan daar uitsien, tesame met alle onverbruikte of opgeloopte inkomste moet dan
                            aan hulle oorgemaak of betaal word. Indien 'n kind gedurende die verloop van die trust te sterwe mag
                            kom, sal so 'n kind se wettige afstammeling/e geregtig wees om in sy of haar plek te erf. Nieteenstaande
                            die voorafgaande opdrag, magtig ek my TRUSTEE(S) om die beëindiging van die trust, hetsy in sy geheel of
                            gedeeltelik, in belang van 'n begunstigde te vervroeg of uit te stel, mits hul van mening is dat omstandighede
                            dit regverdig.
                        </li>
                    </ol>
                </p>
</div>
    </div>
    <div class="row">
    <div class="col-md-12">
        <center>
            <h2>D.BENOEMING EN AANWYSING VAN AMPTE</h2>
            </center>
                <p>
                    <ol>
                        <li>
                        Ek benoem VERITAS EKSEKUTEURSKAMERS SA (EDMS) BEPERK as eksekuteur van my boedel.
                        </li><li>
                       Ek benoem VERITAS EKSEKUTEURSKAMERS SA (EDMS) BEPERK as trustee van enige trust hierin geskep.
                        </li><li>
                        By gebrek aan 'n natuurlike VOOG oor my onmondige kinders, benoem en stel ek aan:
                        </li>
                        <li>
                        Ek benoem # om op te tree as finansiële raadgewer om my erfgename behulpsaam te wees met die belegging van surplus boedelfondse.
</li></ol>
                         </p>
</div>
</div>
<div class="row">
    <div class="col-md-12">
        <center>
           
             <h2>E.MAGTE, PLIGTE,  BEVOEGDHEDE  VAN AMPSDRAERS EN VRYWARING</h2>
            </center>
                <p><ol>
                       <li>
                           Alle ampsdraers soos aangewys in hierdie testament wat as sodanig diens doen, word daarvan
                           vrygestel om sekuriteit te verskaf aan die Meester van die Hooggeregshof.
                       </li>
                        <li>
                                Indien omstandighede dit noodsaak, word my ampsdraers gemagtig om
                                gebruik te maak van die dienste of advies van enige ander persoon of instansie,
                                hetsy 'n vennoot of filiaalmaatskappy en is sodanige persoon of instansie geregtig
                                om vergoed te word volgens die gebruiklike skaal vir sodanige dienste gelewer.
                        </li>
                       <li>
                           Deur die ondertekening van hierdie testament word dit aanvaar dat Veritas Eksekuteurskamers SA (Edms)
                           Beperk nie aanspreeklik gehou kan word vir enige gevolge voortspruitend uit enige onakkurate inligting
                           vervat in hierdie testament soos verskaf vir die opstel daarvan of die geldigheid van hierdie
                           testament indien die oorspronklike of kopie daarvan, voor of na ondertekening, op enige wyse hoegenaamd
                           gewysig is of die algemene geldigheid van die testament nie.
                       </li>
                       <li>
                           Aan die ampsdraers word verleen alle bevoegdhede toegelaat deur die Reg en spesifiek die mag van assumpsie.
                       </li>
</ol></p><hr />
</div>
   
    <div class="row">
        <div class="col-md-12">
            <Center>
                <h5>
                    Hierdie testament is aanvaar en geteken te ........…….......... op hierdie

                    ...........dag van die maand............................20 ..... in die

                    teenwoordigheid van die ondergetekende getuies wie ook in mekaar se

                    teenwoordigheid hierdie testament onderteken het.
                </h5>
            </Center>
           <hr />
        </div>
    </div>
</div>
<a herf="@Url.Action("DownloadViewPDF", "Document")"> Export Will</a>


