
@{
    Layout = "~/Views/Shared/_LayoutPDF.cshtml";
}
<center>
    <div class="row">
        <div class="col-md-12">
            <h1>SINGEL WILL</h1><br />
            <p>I, the undersigned,</p>
            @*Model.Lablefor(IDNumber or DOB)*@<br />
            <p>
                hereby revoke all wills heretofore made by me and declare this to be my will.
            </p>
        </div>
    </div>
</center>
<div class="row">
    <div class="col-md-12">
        <center>  <h2>A. APPOINTMENT OF HEIRS</h2></center>
        <p>
            <ol>
                <li>
                    I bequeath my estate to my TRUSTEE in trust to be administered 
                    in accordance with the powers and duties impose in SECTION C of this will.
                </li>
            </ol>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <center>
            <h2>B. RESTRICTIONS AND CONDITIONS APPLICABLE TO HEIRS</h2>
        </center>
        <p>
            <ol>
                <li>
                    I direct that my heirs shall not be 
                    required to collate any donations made by me to them during my lifetime.
                </li>
                <li>
                    It is a specific condition of this will that any benefit which may accrue 
                    to any beneficiary in terms hereof as well as any income derived from any 
                    trust, shall be excluded from the legal consequences of any existing or future 
                    marriage of such beneficiary, whenever contracted in community of property or 
                    out of community of property or subject to the accrual regime. In the case of a 
                    female beneficiary such benefit shall also be excluded from the control, power or 
                    alienation and marital power of her husband.  Furthermore, the receipt of a female 
                    beneficiary given without the assistance of her husband shall be an adequate discharge to our executor.
                </li>
          
            </ol>
        </p>

    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <center>
            <h2>C. TRUST CLAUSES AND STIPULATIONS</h2>
        </center>
        <p>
            <ol>
                <li>
                    To accept the assets, to control, to administer, to let, to alienate or to sell such
                     assets or to lease or purchase any movable or 	immovable property or to conduct or 
                    continue any business whenever they in their sole discretion consider it to be in the 
                    best interest of the trust.
                   </li>
              
                <li>
                    To invest any cash in such manner as they in their sole discretion may deem fit
                     without being fettered by any of the considerations which otherwise would cause
                     them to restrict the investments to recognised trustee securities.  The Trustee(s)
                     is also empowered to call up any investments and to reinvest the proceeds in accordance
                     with the foregoing provisions.
                </li>
                <li>
                    To borrow any sum of money in order to carry out any condition of this trust and to
                     furnish any form of security for the proper repayment thereof including the power 
                    to pledge or mortgage any assets of the trust.
                </li>
                <li>
                    To apply so much of the income and, in need, of the capital as they in their sole 
                    discretion may deem fit for the maintenance and education of my children or for any
                     other purpose in their interest.  Funds shall not necessarily be applied in equal
                     shares for the benefit of my children since it is my intention that regard shall be
                     had to the needs of the individual child.  Any capital released for the benefit of a
                     particular child shall be regarded as having vested in such child at the time of 
                    payment and no adjustment in respect of such release shall be made as between the children
                     upon the termination of the trust.  Any income not utilised for the aforementioned purpose
                     may be capitalised.
                </li>
                <li>
                    To terminate the trust when the youngest of my children alive from time to time attains the
                     age of $ years and to make over or pay the capital, as it then exists, and any accrued income
                     to my children in equal shares or their lawful issue by representation.  Notwithstanding the above,
                     I direct that my trustee(s) shall have the power, in its absolute discretion to accelerate or 
                    postpone termination of this trust, either in whole or in part, 
                    should circumstances warrant such action.
                </li>
            </ol>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <center>
            <h2>D. EXECUTOR AND TRUSTEE</h2>
        </center>
        <p>
            <ol>
                <li>
                    I nominate VERITAS BOARD OF EXECUTORS SA (PTY) LIMITED as the executor of my estate.
                </li>
                <li>
                    I nominate VERITAS BOARD OF EXECUTORS SA (PTY) LIMITED as the trustee of any trust created herein.
                </li>
                <li>
                    I exempt my Executor and Trustee from the necessity of furnishing security for acting in these capacities to the Master of the Supreme Court.
                </li>
                <li>
                    I nominate #, to act as my financial advisor in assisting my heirs with the investment of surplus estate funds.
                </li>
            </ol>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <center>

            <h2>E. NOMINATION OF GUARDIAN</h2>
        </center>
        <p>
            <ol>
                <li>
                    In the absence of a natural guardian over my minor children, I nominate $ as guardian(s)
                     over such children and I exempt my guardian(s) from the necessity to furnish security to any government official or department for acting in this capacity.
                </li>
               
            </ol>
        </p>
    </div>
    </div>
<div class="row">
    <div class="col-md-12">
        <center>

            <h2>F. PROVISION FOR CONTINGENCIES AND INDEMNIFICATION</h2>
        </center>
        <p>
            <ol>
                <li>
                    I authorise my executor and trustee to utilise the services of a subsidiary,
                     affiliated company or any legal practitioner and such institution or person
                     shall accordingly be entitled to pay and receive the normal remuneration for such services rendered.
                </li>
                <li>
                    By signing this will it is accepted that Veritas Board of Executors SA (Pty) Limited will not be 
                    held responsible for any consequences resulting from inaccurate information contained in this will 
                    or any amendments made in any way whatsoever, before or after signing the original will or a copy 
                    thereof or the validity or legality thereof in general.
                </li>
                <li>
                    The executors are hereby granted all powers allowed by law, especially the power of assumption.
                </li>

            </ol>
        </p><hr />
    </div>
</div>

    <div class="row">
        <div class="col-md-12">
            <Center>
                <h5>
                    This will is signed at .......................... this ......... day of

                    ..........…………........20 .... in the presence of the undersigned witnesses,

                    all being present at the same time.

                </h5>
            </Center>
            <hr />
        </div>
    </div>
</div>
<a herf="@Url.Action("DownloadViewPDF", "Document")"> Export Will</a>


